body{
  background-image: url("img/fondoo.gif");
  background-size: 80%;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}
h3{
  padding: 1rem;
  font-family: TIMES;
  font-size: 30pt;
  color: black;
  text-align: center;
}
p{
  padding: 6rem 0 0 0;
  text-align: center;
  color: white;
  font-family: Trebuchet MS;
}
p:hover{
  opacity: 0;
}
h4{
  color: white;
  padding-top: 0.5rem;

}
img{
  height: 2rem;
  margin-left: 1.5rem;
  border-radius: 5rem;
  float:  left;
}
li{
  color: #FFFFFF;
  margin: 5px;
}
.dreta{
  float: right;
  margin-top: -2.7rem;
}
.capcalera1{
  height: 2rem;
  margin: 0;
  padding: 0;

}
.capcalera{
  height: 5rem;
  width: auto;
  background-color: white;
  opacity: 0.9;
}
.cos{
  height:60rem;
  width: 70%;
  margin: 0 auto;
  margin-top:2rem;

}
.practica{
  width: 12rem;
  height: 11.3rem;
  clip-path: polygon(50% 0, 0 100%, 100% 100%);
  float: left;
  background-image: url("img/fondito.jpg");
  background-size: cover;
  background-position: center;
  margin-bottom: 2rem;
  margin-left: 2rem;
  box-shadow:

}
.o1:hover{
  background-image: url("img/index.jpg");
  background-size: cover;
  background-position: center;
}
.o2:hover{
  background-image: url("img/feedly.jpg");
  background-size: cover;
  background-position: center;
}
.o3:hover{
  background-image: url("img/float.jpg");
  background-size: cover;
  background-position: center;
}
.o4:hover{
  background-image: url("img/escacs.jpg");
  background-size: cover;
  background-position: center;
}
.o5:hover{
  background-image: url("img/responsive.jpg");
  background-size: cover;
  background-position: center;
}
.o6:hover{
  background-image: url("img/cara.jpg");
  background-size: cover;
  background-position: center;
}
.o7:hover{
  background-image: url("img/banner.jpg");
  background-size: cover;
  background-position: center;
}
.o8:hover{
  background-image: url("img/bus.jpg");
  background-size: cover;
  background-position: center;
}
.o9:hover{
  background-image: url("img/coche.jpg");
  background-size: cover;
  background-position: center;
}
.o10:hover{
  background-image: url("img/zapato.jpg");
  background-size: cover;
  background-position: center;
}
.o11:hover{
  background-image: url("img/coches.jpg");
  background-size: cover;
  background-position: center;
}
.o12:hover{
  background-image: url("img/animal.jpg");
  background-size: cover;
  background-position: center;
}
.o13:hover{
  background-image: url("img/exam.jpg");
  background-size: cover;
  background-position: center;
}
.o14:hover{
  background-image: url("img/.jpg");
  background-size: cover;
  background-position: center;
}
.o14:hover{
  background-image: url("img/float2.jpg");
  background-size: cover;
  background-position: center;
}
.o15:hover{
  background-image: url("img/float3.jpg");
  background-size: cover;
  background-position: center;
}
