
body {
  background: repeating-linear-gradient(to bottom left , rgba(0, 147, 208, 1) ,rgba(66, 254, 231, 1));
  background-attachment: fixed;
}
#logogrande{
  height: 10rem;
}
#centrado{
  text-align: center;
  margin-top: 35%;
  animation-name: entrada;
  animation-duration: 5s;
}
@keyframes entrada {
  0%{
    opacity: 0;

  }
  70%{
    opacity: 1;
  }
}
